/* секція герой */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero-content {
  width: 696px;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
}

.hero-btn {
  display: inline-block;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--light-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
}

/* секція наші переваги */
.preference {
  padding-top: 94px;
}

.preference-list {
  display: flex;
  justify-content: space-between;
}

.preference-item {
  flex-basis: calc((100% - 90px) / 4);
}

.preference-item-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.preference-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* чим ми займаємося */
.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.work-item {
  flex-basis: calc((100% - 60px) / 3);
}

/* секція наша команда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  flex-basis: calc((100% - 90px) / 4);
  background: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item-title {
  font-weight: 500;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
